.project-links li{
    display: inline-block;
    padding: 2%;
    background: #333;
}

.project-links li a{
	color: #fff;
	text-decoration: none;
}

.project-links li a:hover{
	text-decoration: underline;
}

.project-links li a i{
	margin-right: 6px;
}