.case-item{
    margin-top: 15px;
    margin-bottom: 15px;
}

.back{
	height: auto;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2%;
}

.project-links{
    padding: 0;
}

.project-links li{
    display: inline-block;
    padding: 2%;
    background: #333;
}

.project-links li a{
	color: #fff;
	text-decoration: none;
}

.project-links li a:hover{
	text-decoration: underline;
}

.project-links li a i{
	margin-right: 6px;
}