
.col-xs-12 {margin-bottom:0;}
.contact-header h2 {
	margin-top: 70px;
	margin-bottom: 500px;
	}

.form h2, 
 label {
	color: rgba(255,255,255,0.7);
	letter-spacing: 2px;
}

.form h2 {
	display: inline-block;
	letter-spacing: 5px;
	margin-right: -5px;
	margin-bottom: 30px;
	text-align: center;
}

.contact-header {
	text-align: center;
}
#form {
	background: url(../img/contactbg6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding:0;
	margin: 0;
	
}
#email {
	margin-bottom: 25px;
}

.contact-wrapper {background: rgba(255,255,255,0.5);}

form {
	margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
.textarea {
    background-color: rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.4) inset;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
.textarea:focus {
    background-color: rgba(255,255,255,0.7);
    outline-color: #cc7a00;
    -webkit-transition: 1s ease;
    transition: 1s ease;
	
}

#text-area-wrapper, 
#button-wrapper {padding: 0;}

.textarea {
    background-color: rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.4) inset;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
}

.button {
    background-color: #cc7a00;
    border: 2px solid rgba(0,0,0,0.4);/*gömmer kanterna*/
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4) inset, 
	   		    -2px -2px 10px rgba(0,0,0,0.4) inset;
    color: rgba(0,0,0,0.5);
    font-size: 25px;
    padding: 12px 0 12px 0; 
    text-align: center;
	width: 100%;
}

.button:hover {
	box-shadow: 2px 2px 0px rgba(255,255,255,0.2) inset, 
				-2px -2px 0px rgba(255,255,255,0.5) inset,
				4px 4px 10px #754302 inset , 
				-4px -4px 10px #754302 inset,
				6px 6px 20px orange inset , 
				-6px -6px 20px orange inset;
	color: rgba(255,255,255,0.5);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.lighten {
  -webkit-filter: brightness(80%);
     -moz-filter: brightness(80%);
       -o-filter: brightness(80%);
      -ms-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
 
.lighten:hover {
  -webkit-filter: brightness(100%);
     -moz-filter: brightness(100%);
       -o-filter: brightness(100%);
      -ms-filter: brightness(100%);
          filter: brightness(100%);
}

@media screen and (min-width: 768px) {
	
	.contact-wrapper {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	   
}