.linkfix a {
    font-weight: 400;
    font-size: 10vw;
}

.jumbotron {
    background-image: url(../img/header.jpg);
    background-size: cover;
	width: 100vw;
	height: 100vh;
}

@media screen and (min-width: 768px) { 

	.linkfix a {
    font-weight: 400;
    font-size: 2vw;
	}

}s