/* BASIC STYLES
----------------------------------------------- */

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);
/* @import url(https://fonts.googleapis.com/css?family=Roboto); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* BASIC STYLES */
@import "basic.css";

/* HEADER
----------------------------------------------- */
@import "header.css";

/* INTRO
----------------------------------------------- */
@import "intro.css";

/* SERVICES
----------------------------------------------- */
@import "services.css";

/* CASES
----------------------------------------------- */
@import "cases.css";

/* ABOUT
----------------------------------------------- */
@import "about.css";

/* CONTACT
----------------------------------------------- */
@import "contact.css";

/* FOOTER
----------------------------------------------- */
@import "footer.css";

.linkfix a {
    font-weight: 400;
    font-size: 10vw;
	text-decoration: none;
    color: #fff;


}

.jumbotron img {
margin: 5%;
}

/* SERVICES */

section.intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 4vw;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    margin: 5% 0;
    color: #FFF;
    }
}

/* CASES */

.cases{
    min-height: 110vh;
}

.case-item{
    min-height: 400px;
	height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.back{
    background: #ebebeb;
    padding: 2%;
}

.project-links{
    list-style: none;
    color: #fff;
    padding: 0;
}

.project-links li{
    display: inline-block;
    padding: 2%;
    background: #333;
}

.project-links li a{
	color: #fff;
	text-decoration: none;
}

.project-links li a:hover{
	text-decoration: underline;
}

.project-links li a i{
	margin-right: 6px;
}

.desktop {
	display: none;
    }

@media screen and (min-width: 768px) { 
	
	.mobile {
    display: none;
    }

.desktop {
    display: inline-block;
    }

	.linkfix a {
    font-weight: 400;
    font-size: 2vw;
	}
	
	.rowmenu {
	margin-top: 6%;
	}
			
	section.intro p {
    font-size: 2vw; 
    text-align: left;
    margin: 2% 0;
    }
	
	.intro {
    width: 95%;
    margin: 0 auto;
    }
	
	
	.linkfix a.slide:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: width .5s ease, background-color .5s ease;
    }
    
.linkfix a.slide:hover:after {
    width: 100%;
    background: #D7342C;
    }
	

}